
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h3{ 
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
      }
      

body {
    grid-template-areas: "Header"
                         "Menu"
                         "Main"
                         "Productos"
                         "footer";
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns:1fr ;

    header {
        font-family: cursive;
        font-size: 1.5em;
        grid-area: Header;
        background-color: chartreuse;

        h2 {
            color: darkslategray;
            text-align: center;
            padding: 1rem;
        }    
    }

    nav {
        grid-area: menu;
        background-color: darkolivegreen;
        

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            

            li {
                a {font-size: 1.2rem;
                    text-decoration: none;
                    color: beige
                }
                & a:hover{
                    color:rgb(39, 23, 4) ;
                    background-color: rgb(195, 199, 113);
                }
                }
        }
    }
    main {
        grid-area: main;
        background-image: url(https://fastly.picsum.photos/id/304/5000/3324.jpg?hmac=zUrtba_Jg3_6khk8Jo5AuycmUNZvGJeLJ_n72MHwyus);
        
    }
}
